div{
  padding: 50px;
  margin: 10px;
}

.borda{
  border: 10px dashed black;
}

#bloco1{
  background-color: blue;
}

#bloco2{
  background-image: url("dog.1")
}

#bloco3{
  
  background-position: center;
}
