div{
  padding: 50px;
  margin: 10px;
}

.borda{
  border: 10px dashed black;
}

#bloco1{
  background-color: blue;
}

#bloco2{
  background-image: ;
  background-repeat: repeat;

}

#bloco3{
  background-image: 
  background-position: center;
}

#bloco4{
  background-image: url("");
  background-size: cover;
}

#bloco5{
  background-color: red;
  background-size: cover;
}

#bloco6{
  background-image: 
  padding-box
}
